.title{
  font-family:Helvetica;
  font-size: 100px;
  font-weight:bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");

}

p,h2,h3{
  font-family:Helvetica;
}

h2{
  font-size:32px;
  font-weight:bold;
  color:white;
}


.item-brushes{
  background-color:mediumspringgreen;
}

.item-frames{
  background-color:lightcoral;
}

.item-paint{
  background-color:skyblue;
}

.highlight{
  font-weight:bold;
  color:blue;
}
